.services{
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;
    position: relative;
} 
.services__heading > span{
    color: #ffbf00;
    font-weight: 600;
    font-size: 1.2em;
}
.services > h1{
    margin-top: 0.9375rem;
    font-size: 2.1875rem !important;
    text-align: center;
}
.services__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-top: 1.6875rem;
    flex-wrap: wrap;
    /* border: 1px solid #e2e2e2;
    border-radius: 999px;
    padding: 25px;
    box-shadow: 3px 6px 16px -1px rgba(0,0,0,0.30);
    -webkit-box-shadow: 3px 6px 16px -1px rgba(0,0,0,0.30);
    -moz-box-shadow: 3px 6px 16px -1px rgba(0,0,0,0.30);
    overflow-x: scroll !important;
    -ms-overflow-style: none;
    scrollbar-width: none; */
}
.services__container::-webkit-scrollbar{
    display: none;
}
.services__text{
    margin-right: 0.9375rem;
    border: 1px solid lightgray;
    padding: 0.5rem 0.625rem;
    border-radius: 1.25rem;
    margin-top: 0.625rem;
    text-align: center;
}
.services__text > p:first-of-type{
    font-size: 1em;
    color: #202020;
    white-space: nowrap;
    cursor: pointer;
    margin-right: 0.625rem;
}
.services__designLeft{
    position: absolute;
    left:0;
    bottom: 1.875rem;
    
}
.services__designRight{
    position: absolute;
    right: 0;
    top: -0.625rem;
}
.active{
    background-color: black !important;
}
.active > p{
    color: white !important;
}

@media screen and (max-width:1076px) {
    .services__designLeft{
        bottom: 4.375rem;
    }
}

@media screen and (max-width:991px) {
    .services > h1{
        font-size: 1.875rem !important;
    }
}

@media screen and (max-width:900px) {
    .services__text > p:first-of-type{
        font-size: 1em;
    }
    .services__text > p:nth-child(2){
        font-size: 1.1em;
    }
}
@media screen and (max-width:806px) {
    .services__designLeft,.services__designRight{
        display: none;
    }
}
@media screen and (max-width:740px) {
    .services__text{
        width: 12.5rem;
        text-align: center;
    }
    .services__container{
        width: 90vw;
    }
}