.services{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
} 
.services__heading > span{
    color: #ffbf00;
    font-weight: 600;
    font-size: 1.2em;
}
.services > h1{
    margin-top: 15px;
    font-size: 2.5em;
}
.services__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    margin-top: 40px;
    border: 1px solid #e2e2e2;
    border-radius: 999px;
    padding: 25px;
    box-shadow: 3px 6px 16px -1px rgba(0,0,0,0.30);
    -webkit-box-shadow: 3px 6px 16px -1px rgba(0,0,0,0.30);
    -moz-box-shadow: 3px 6px 16px -1px rgba(0,0,0,0.30);
    overflow-x: scroll !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.services__container::-webkit-scrollbar{
    display: none;
}
.services__text{
    flex: 1 0 21%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.services__text > p:first-of-type{
    font-size: 1.2em;
    color: #202020;
    white-space: nowrap;
}
.services__text > p:nth-child(2){
    font-size: 1.3em;
    color: #7f7f7f;
}

.services__designLeft{
    position: absolute;
    left:0;
    bottom: 30px;
    
}
.services__designRight{
    position: absolute;
    right: 0;
    top: -10px;
}

@media screen and (max-width:1076px) {
    .services__designLeft{
        bottom: 70px;
    }
}

@media screen and (max-width:1410px) {
    .services__container{
        width: 80vw;
    }
}
@media screen and (max-width:1050px) {
    .services__container{
        width: 95vw;
    }
}
@media screen and (max-width:900px) {
    .services__text > p:first-of-type{
        font-size: 1em;
    }
    .services__text > p:nth-child(2){
        font-size: 1.1em;
    }
}
@media screen and (max-width:806px) {
    .services__designLeft,.services__designRight{
        display: none;
    }
}
@media screen and (max-width:740px) {
    .services__text{
        flex: unset;
    }
}