.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
}
.signIn{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 1000px;
}
.signIn__modal{
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.signIn__image{
    display: flex;
}
.signIn__form{
    background-color: white;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signIn__image > img{
    width: 500px;
    object-fit: contain;
}
.signIn__form > img{
    width: 150px;
    object-fit: contain;
}
.signIn__input{
    background-color: #fafafa;
    border: none;
    color: grey;
    padding: 12px;
    display: flex;
    width: 350px;
    border-radius: 8px;
}
.signIn__input > input{
    flex: 1;
    border: none;
    background-color: transparent;
}
.signIn__heading{
    display: flex;
    justify-content: flex-start;
    width: 350px;
}
.signIn__checkbox{
    display: flex;
    align-items: flex-start;
    width: 350px;
    margin-top: 15px;
}
.signIn__checkbox > p{
    margin-left: 5px;
}
.signIn__checkbox > input{
    margin-top: 5px;
}