.about__sectionOne{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6.875rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.about__sectionTwo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5.625rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.about__sectionOne > img{
    height: 18.125rem;
    object-fit: contain;
}
.about__sectionTwo > img{
    height: 17.1875rem;
    object-fit: contain;
}
.about__sectionOneHeading > h1{
    font-size: 2.5rem !important;
    width: 28.125rem;
    margin-bottom: 0.9375rem;
}
.aboutOne__subCaption{
    width: 25rem;
    margin-bottom: 0.9375rem;
    line-height: 1.5rem;
}
.about__sectionOneHeading > button{
    margin-top: 0.9375rem;
    color: white;
    background-color: black;
    border: none;
    width: 13.75rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.9375rem;
    font-weight: 500;
    transition: filter 0.2s;
}
.about__sectionOneHeading > button:hover{
    filter: opacity(0.9);
}

@media screen and (max-width:1100px) {
    .about__sectionOne > img{
        margin-right: 1.25rem;
    }
    .about__sectionTwo > img{
        margin-left: 1.25rem;
    }
    .about__sectionOneHeading > h1{
        font-size: 1.875rem !important;
        width: unset;
    }
    .aboutOne__subCaption{
        width: unset;
    }
}
@media screen and (max-width:900px) {
    .about__sectionOne{
        flex-direction: column;
    }
    .about__sectionTwo{
        flex-direction: column-reverse;
    }
    .about__sectionOne > img , .about__sectionTwo > img{
        max-width: 90vw;
    } 
    .about__sectionOne > img{
        margin-right: unset;
    }
    .about__sectionTwo > img{
        margin-left: unset;
    }
    .about__sectionOneHeading > h1, .aboutOne__subCaption{
        width: unset;
    }
}
