.about__sectionOne{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}
.about__sectionTwo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}
.about__sectionOne > img{
    width: 500px;
    object-fit: contain;
}
.about__sectionTwo > img{
    width: 500px;
    object-fit: contain;
}
.about__sectionOneHeading > h1{
    font-size: 40px !important;
    width: 450px;
    margin-bottom: 15px;
}
.aboutOne__subCaption{
    width: 400px;
    margin-bottom: 15px;
}
.about__sectionOneHeading > button{
    margin-top: 15px;
    color: white;
    background-color: black;
    border: none;
    width: 220px;
    padding: 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    transition: filter 0.2s;
}
.about__sectionOneHeading > button:hover{
    filter: opacity(0.9);
}

@media screen and (max-width:1100px) {
    .about__sectionOne > img , .about__sectionTwo > img{
        width: 400px;
    }
    .about__sectionOneHeading > h1{
        font-size: 30px !important;
        width: 400px;
    }
    .aboutOne__subCaption{
        width: 300px;
    }
}
@media screen and (max-width:900px) {
    .about__sectionOne{
        flex-direction: column;
    }
    .about__sectionTwo{
        flex-direction: column-reverse;
    }
    .about__sectionOne > img , .about__sectionTwo > img{
        width: 90vw;
    } 
    .about__sectionOneHeading > h1, .aboutOne__subCaption{
        width: unset;
    }
}