.options{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 29.375rem;
}
.options__logo{
    margin-right: 1.875rem;
}
.options__logo > img{
    width: 3.4375rem;
    object-fit: contain;
}
.options__description > h1{
    font-size: 1.875rem !important;
    font-weight: 550 !important;
    margin-bottom: 0.8125rem;
}
.options__description > p{
    color: gray;
}
@media screen and (max-width: 1110px) {
    .options{
        width: 23.125rem;
    }
    .options__logo > img{
        width: 3.125rem;
    }
    .options__logo{
        margin-right: 0.9375rem;
    }
    .options__description > h1{
        font-size: 1.625rem !important;
    }
    .options__description > p{
        font-size: 0.9rem;
    }
}
@media screen and (max-width:850px) {
    .options{
        width: 80vw;
    }
}