.products{
    margin-top: 110px;
}
.products > h1{
    text-align: center;
    font-size: 2.2em;
}
.product__cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

@media screen and (max-width: 964px) {
    .product__cards{
        flex-direction: column;
    }
    .product__cards > *{
        margin-top: 40px;
    }
}


