.products > h1{
    text-align: center;
    font-size: 2.1875rem !important;
}
.product__cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.875rem;
}
@media screen and (max-width: 964px) {
    .product__cards{
        flex-direction: column;
    }
    .product__cards > *{
        margin-top: 2.5rem;
    }
}


