.products{
    margin-top: 150px;
}
.products > h1{
    text-align: center;
}
.product__cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}