.cocoBanner{
    background-color: white;
}
.cocoBanner__contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
}
.cocoBanner__textContent{
    display: flex;
    flex-direction: column;
    z-index: 10;
    resize: both;
}
.cocoBanner__textContent > h1{
    font-size: 47px;
    position: relative;
    line-height: 68px;
}
.cocoBanner__textContent > h1 > img{
    position: absolute;
    bottom: 6px;
}
.cocoBanner__subCaption{
    width: 400px;
    line-height: 24px;
    margin-top: 15px;
}
.cocoBanner__textContent > button{
    margin-top: 25px;
    color: white;
    border: none;
    width: 220px;
    padding: 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    transition: transform 0.2s;
}
.cocoBanner__textContent > button:hover{
    filter: opacity(0.9);
    transform: scale(1.05);
}

.cocoBanner__image > img{
    width: 408px;
    object-fit: contain;
}

.cocoBanner__vector{
    position: absolute;
    top: -60px;
    right: 10px;
}

@media screen and (max-width:1396px) {
    .cocoBanner__textContent > h1{
        font-size: 40px;
        line-height: 65px;
    }
}
@media screen and (max-width:1185px) {
    .cocoBanner__textContent > h1{
        font-size: 2.5em !important;
        line-height: 60px;
    }
}
@media screen and (max-width: 1102px) {
    .cocoBanner__textContent > h1{
        font-size: 2.3em !important;
        line-height: 47px;
    }
}
@media screen and (max-width: 1048px) {
    .cocoBanner__image > img{
        width: 400px;
    }
}
@media screen and (max-width: 991px) {
    .cocoBanner__contents{
        flex-direction: column-reverse;
    }
    .cocoBanner__subCaption{
        width: unset;
    }
    .cocoBanner__vector{
        display: none;
    }
    .cocoBanner__image > img{
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .cocoBanner__textContent > h1{
        font-size: 2.1em !important;
        line-height: unset;
    }
}
@media screen and (min-width:1600px) {
    .cocoBanner__image > img{
        width: 500px;
    }
    .cocoBanner__vector{
        width: 100%;
        top: -280px;
        right: 0px;
    }
}
