.articles__typeSearch{
    background-color: #fafafa;
    color: grey;
    border: none;
    border-radius: 1.56rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    width: 15.625rem;
    position: absolute;
    top: 6.25rem;
    right: 10%;
}
.articles__typeSearch > input{
    border: none;
    background-color: transparent;
    flex: 1;
    font-weight: 600;
}
.articles__typeSearch > input:focus{
    outline: none;
}
.articles__body{
    display: flex;
    align-items: flex-start;
    margin-top: 1.875rem;
}
.articles__menu{
    border: 1px solid grey;
    border-radius: 5px;
    width: 12.5rem;
    padding: 0.3125rem 0rem;
}
.articles__menu > h4{
    margin-bottom: 0.25rem;
    padding: 0.625rem;
}
.article__topics{
    border-bottom: 1px solid gray;
}
.article__topics:last-of-type{
    border-bottom: none;
}
.article__topics > p{
    color: grey;
    font-size: 0.9rem;
    width: 10rem;
    padding: 0.75rem;
}
.articles__content{
    margin-left: 0.9375rem;
    flex: 1;
}
.articles__avatar{
    display: flex;
    align-items: center;
    margin-top: 0.75rem;
}
.articles__avatar > img{
    width: 3.75rem;
    object-fit: contain;
}
.articles__avatarName{
    margin-left: 0.4375rem;
    font-size: 0.9rem;
    color: gray;
}
.articles__description{
    border-bottom: 1px solid lightgray;
    padding-bottom: 0.9375rem;
    margin-top: 0.75rem;
}
.articles__avatarName > p:first-of-type{
    margin-bottom: 0.3125rem;
}
.articles__description > p, .articles__description2 > p{
    font-size: 0.9rem;
    color: gray;
}
.articles__description2{
    margin-top: 0.8125rem;
}
.article__helpHeading{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 0.625rem;
}
.article__helpButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.125rem;
}
.article__helpButtons > button{
    border: 1px solid grey;
    color: black;
    background-color: white;
    font-size: 1.1rem;
    padding: 0.625rem 0rem;
    width: 5.625rem;
    border-radius: 4px;
    margin-right: 0.625rem;
}
.article__helpBody > p:first-of-type{
    color: grey;
    text-align: center;
    margin-top: 0.9375rem;
    font-size: 0.9rem;
}
.article__helpBody > p:last-of-type{
    color: darkgray;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
}
.article__helpBody > p:last-of-type > span{
    color: #1292ee;
}
.article__help{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 0.875rem;
}
.article__recentlyViewed{
    margin-top: 1.25rem;
}
.article__recentlyViewed > p{
    color: grey;
    padding: 0.1875rem 0rem;
    font-size: 0.9rem;
}