.articles__typeSearch{
    background-color: #fafafa;
    color: grey;
    border: none;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 8px;
    width: 250px;
    position: absolute;
    top: 100px;
    right: 10%;
}
.articles__typeSearch > input{
    border: none;
    background-color: transparent;
    flex: 1;
    font-weight: 600;
}
.articles__typeSearch > input:focus{
    outline: none;
}
.articles__body{
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
}
.articles__menu{
    border: 1px solid grey;
    border-radius: 5px;
    width: 200px;
    padding: 5px 0px;
}
.articles__menu > h4{
    margin-bottom: 4px;
    padding: 10px;
}
.article__topics{
    border-bottom: 1px solid gray;
}
.article__topics:last-of-type{
    border-bottom: none;
}
.article__topics > p{
    color: grey;
    font-size: 0.9rem;
    width: 160px;
    padding: 12px;
}
.articles__content{
    margin-left: 15px;
    flex: 1;
}
.articles__avatar{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.articles__avatar > img{
    width: 60px;
    object-fit: contain;
}
.articles__avatarName{
    margin-left: 7px;
    font-size: 0.9rem;
    color: gray;
}
.articles__description{
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
    margin-top: 12px;
}
.articles__avatarName > p:first-of-type{
    margin-bottom: 5px;
}
.articles__description > p, .articles__description2 > p{
    font-size: 0.9rem;
    color: gray;
}
.articles__description2{
    margin-top: 13px;
}
.article__helpHeading{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 10px;
}
.article__helpButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}
.article__helpButtons > button{
    border: 1px solid grey;
    color: black;
    background-color: white;
    font-size: 1.1rem;
    padding: 10px 0px;
    width: 90px;
    border-radius: 4px;
    margin-right: 10px;
}
.article__helpBody > p:first-of-type{
    color: grey;
    text-align: center;
    margin-top: 15px;
    font-size: 0.9rem;
}
.article__helpBody > p:last-of-type{
    color: darkgray;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.article__helpBody > p:last-of-type > span{
    color: #1292ee;
}
.article__help{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 14px;
}
.article__recentlyViewed{
    margin-top: 20px;
}
.article__recentlyViewed > p{
    color: grey;
    padding: 3px 0px;
    font-size: 0.9rem;
}