.TlBanner{
    background-color: white;
}
.TlBanner__contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.0625rem;
    position: relative;
}
.TlBanner__textContent{
    display: flex;
    flex-direction: column;
    z-index: 10;
    resize: both;
}
.TlBanner__textContent > h1{
    font-size: 2.9375rem;
    position: relative;
    line-height: 2.8rem;
    width: 37.5rem;
}
.TlBanner__textContent > h1 > img{
    position: absolute;
    bottom: 0.375rem;
}
.TlBanner__subCaption{
    width: 25rem;
    line-height: 1.5rem;
    margin-top: 0.9375rem;
}
.TlBanner__textContent > button{
    margin-top: 0.9375rem;
    color: white;
    border: none;
    width: 13.75rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.9375rem;
    font-weight: 500;
    transition: transform 0.2s;
}
.TlBanner__textContent > button:hover{
    filter: opacity(0.9);
    transform: scale(1.05);
}

.TlBanner__image > img{
    width: 28.8125rem;
    object-fit: contain;
}
.TlBanner__vector{
    position: absolute;
    top: -3.625rem;
    right: 3.125rem;
}

@media screen and (max-width:1396px) {
    .TlBanner__textContent > h1{
        font-size: 2.5rem;
    }
}
@media screen and (max-width:1276px) {
    .TlBanner__image > img{
        width: 23.9375rem;
    }
}
@media screen and (max-width:1185px) {
    .TlBanner__textContent > h1{
        font-size: 2.5em !important;
        width: unset;
    }
}
@media screen and (max-width: 1135px) {
    .TlBanner__textContent > h1{
        font-size: 2.3em !important;
    }
}
@media screen and (max-width: 991px) {
    .TlBanner__contents{
        flex-direction: column-reverse;
    }
    .TlBanner__subCaption{
        width: unset;
    }
    .TlBanner__vector{
        display: none;
    }
    .TlBanner__image > img{
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .TlBanner__textContent > h1{
        font-size: 2.1em !important;
        line-height: unset;
    }
}

