.ex__cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 6.25rem;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.ex__cards > *{
    margin-right: 0.625rem;
    margin-top: 0.625rem;
}
.ex__features1{
    margin-top: 5.625rem;
}
@media screen and (min-width: 1300px) {
    .ex__cards  > *{
        margin-right: 1.125rem;
    }
}