.ex__cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.ex__cards > *{
    margin-right: 10px;
    margin-top: 10px;
}
.ex__features1{
    margin-top: 90px;
}
@media screen and (min-width: 1300px) {
    .ex__cards  > *{
        margin-right: 18px;
    }
}