.productCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    padding: 15px;
    border-radius: 4px;
    position: relative;
    padding-bottom: 30px;
}
.productCard > img{
    width: 300px;
    object-fit: cover;
}
.productCard__description{
    width: 300px;
    line-height: 20px;
    margin-top: 10px;
}
.productCard__heading{
    margin-top: 10px;
}
.productCard > button{
    position: absolute;
    bottom: -27px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 100%;
    padding: 15px;
}