.productCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    padding: 15px;
    border-radius: 4px;
    position: relative;
    padding-bottom: 30px;
}
.productCard > img{
    width: 250px;
    object-fit: cover;
}
.productCard__description{
    width: 250px;
    line-height: 20px;
    margin-top: 10px;
}
.productCard__heading{
    margin-top: 10px;
}
.productCard > button{
    position: absolute;
    bottom: -25px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 100%;
    padding: 10px 12px;
}
.productCard > button:hover{
    background-color: rgb(41, 36, 36);
}
@media screen and (max-width:1500px) {
    .productCard > img{
        width: 200px;
    }
    .productCard__description{
        width: 190px;
        line-height: 18px;
    }
    
}
@media screen and (max-width:1250px) {
    .productCard > img{
        width: 170px;
    }
    .productCard__description{
        width: 160px;
        line-height: 17px;
    }
    .productCard__heading{
        font-size: 1.3em;
    }
    
}
@media screen and (max-width:1074px) {
    .productCard > img{
        width: 140px;
    }
    .productCard__description{
        width: 130px;
    }
    .productCard__heading{
        font-size: 1.2em;
    }
}
@media screen and (max-width: 870px) {
    .productCard > img{
        width: 430px;
    }
    .productCard__description{
        width: 425px;
        line-height: 25px;
    }
    .productCard__heading{
        font-size: 2em;
    }

}
@media screen and (max-width: 500px) {
    .productCard > img{
        width: 300px;
    }
    .productCard__description{
        width: 295px;
        line-height: 22px;
    }
    .productCard__heading{
        font-size: 2em;
    }

}