.productCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    padding: 0.9375rem;
    border-radius: 0.25rem;
    position: relative;
    padding-bottom: 1.875rem;
}
.productCard > img{
    width: 20.625rem;
    object-fit: cover;
}
.productCard__description{
    width: 20.625rem;
    line-height: 1.4rem;
    margin-top: 0.625rem;
}
.productCard__heading{
    margin-top: 0.625rem;
}
.productCard > button{
    position: absolute;
    bottom: -1.5rem;
    color: white;
    border: none;
    border-radius: 100%;
    padding: 0.625rem 0.75rem;
    transition: filter 0.2s;
}
.productCard > button:hover{
    filter: opacity(0.9);
}

@media screen and (max-width:1374px) {
    .productCard > img{
        width: 17.5rem;
    }
    .productCard__description{
        width: 17.5rem;
        line-height: 1.4rem;
    }
    .productCard__heading{
        font-size: 1.3em;
    }
    
}

@media screen and (max-width:1175px) {
    .productCard > img{
        width: 16.25rem;
    }
    .productCard__description{
        width: 16.25rem;
    }
    .productCard__heading{
        font-size: 1.2em;
    }
}
@media screen and (max-width:1106px){
    .productCard > img{
        width: 14.375rem;
    }
    .productCard__description{
        width: 14.375rem;
    }

}
@media screen and (max-width: 964px) {
    .productCard > img{
        width: 25rem;
    }
    .productCard__description{
        width: 25rem;
        line-height: 1.5625rem;
    }
    .productCard__heading{
        font-size: 2em;
    }

}
@media screen and (max-width:500px){
    .productCard > img{
        width: 85vw;
    }
    .productCard__description{
        width: 85vw;
    }
}
