.vdBanner{
    background-color: white;
}
.vdBanner__contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    position: relative;
}
.vdBanner__textContent{
    display: flex;
    flex-direction: column;
    z-index: 10;
    resize: both;
}
.vdBanner__textContent > h1{
    font-size: 47px;
    position: relative;
    line-height: 68px;
    width: 600px;
}
.vdBanner__textContent > h1 > img{
    position: absolute;
    bottom: 6px;
}
.vdBanner__subCaption{
    width: 400px;
    line-height: 24px;
    margin-top: 15px;
}
.vdBanner__textContent > button{
    margin-top: 15px;
    color: white;
    border: none;
    width: 220px;
    padding: 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    transition: transform 0.2s;
}
.vdBanner__textContent > button:hover{
    filter: opacity(0.9);
    transform: scale(1.05);
}

.vdBanner__image > img{
    width: 470px;
    object-fit: contain;
}

.vdBanner__vector{
    position: absolute;
    top: -60px;
    right: 50px;
}
@media screen and (max-width:1396px) {
    .vdBanner__textContent > h1{
        font-size: 40px;
        line-height: 65px;
    }
}
@media screen and (max-width:1295px) {
    .vdBanner__image > img{
        width: 400px;
    }
}

@media screen and (max-width:1185px) {
    .vdBanner__textContent > h1{
        font-size: 2.5em !important;
        line-height: 60px;
        width:unset;
    }
}
@media screen and (max-width: 1102px) {
    .vdBanner__textContent > h1{
        font-size: 2.3em !important;
        line-height: 47px;
    }
}
@media screen and (max-width: 991px) {
    .vdBanner__contents{
        flex-direction: column-reverse;
    }
    .vdBanner__subCaption{
        width: unset;
    }
    .vdBanner__vector{
        display: none;
    }
    .vdBanner__image > img{
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .vdBanner__textContent > h1{
        font-size: 2.1em !important;
        line-height: unset;
    }
}
@media screen and (min-width:1600px) {
    .vdBanner__image > img{
        width: 600px;
    }
    .vdBanner__vector{
        width: 100%;
        top: -220px;
    }
    .vdBanner__textContent > h1{
        width: fit-content;
    }
}

