.careers__postings{
    margin-top: 6.25rem;
}
.careers__postings > h1{
    text-align: center;
}
.careers__typeSearch{
    background-color: #fafafa;
    color: grey;
    border: none;
    border-radius: 1.56rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    flex: 0.25;
}
.careers__search > div:first-of-type{
    flex: 0.4 !important;
}
.careers__typeSearch > input{
    border: none;
    background-color: transparent;
    flex: 1;
    font-weight: 600;
}
.careers__typeSearch > input:focus{
    outline: none;
}
.careers__typeSearch > select{
    border: none;
    background-color: transparent;
    flex: 1;
    font-weight: 600;
}
.careers__typeSearch > select:focus{
    outline: none;
}
select ::-ms-expand{
    display: none;
}
select{
    -moz-appearance: none;
    -webkit-appearance: none;
}

.careers__search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
}
.careers__jobs{
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: auto auto auto;
}
.related_posts{
    padding: 0.375rem;
    margin-bottom: 0.4375rem;
}
.related_posts > p:first-of-type{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.3125rem;
}
.related_posts > p:last-of-type{
    font-size: 0.9rem;
    color: grey;
}
.careers__jobPosts{
    border: 1px solid lightgray;
    border-radius: 0.375rem;
    width: 18.75rem;
}
.careers__jobSection{
    margin-bottom: 0.9375rem;
}
@media screen and (max-width:1250px) {
    .careers__jobPosts{
        width: 15.625rem;
    }
}
@media screen and (max-width:1050px) {
    .careers__jobs{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width:790px) {
    .careers__search{
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
    }
    .careers__typeSearch{
        margin-bottom: 0.9375rem;
        width: 100%;
    }
}
@media screen and (max-width:680px) {
    .careers__jobs{
        grid-template-columns: auto;
    }
    .careers__jobPosts{
        width: 80vw;
    }
}