.questionsTab{
    width: 20rem;
    border-radius: 0.4375rem;
    margin-bottom: 1.56rem;
}
.questionsTab__heading{
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 0.4375rem;
    border-radius: 7px 7px 0px 0px;
}
.questionsTab__body{
    border: 1px solid lightgray;
    padding: 0.75rem 0.625rem;
    border-radius: 0px 0px 7px 7px;
    height: max-content;
}
.questionsTab__body > p{
    color: grey;
    font-size: 0.9rem;
    margin-top: 0.3125rem;
}
@media screen and (max-width:740px) {
    .questionsTab{
        width: 75vw;
    }
    .questionsTab__body{
        height: max-content;
    }
}