.chatbotaction{
    margin-top: 90px;
    text-align: center;
}
.chatbotaction > h1{
    font-size: 35px !important;
}
.chatbotaction > img{
    width: 450px;
    max-width: 85vw;
    object-fit: contain;
    z-index: 10;
    margin-top: 15px;
}

