.features__cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8.75rem;
    flex-wrap: wrap;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.features__cards > *{
    margin-right: 1.25rem;
    margin-top: 0.9375rem;
}
.features__sectionDashboard{
    margin-top: 6.25rem;
}
.features__sectionDashboard2{
    margin-top: 9.375rem;
}
