.features__cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.features__cards > *{
    margin-right: 20px;
    margin-top: 15px;
}
.features__sectionDashboard{
    margin-top: 100px;
}
.features__sectionDashboard2{
    margin-top: 150px;
}
