.support__buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}
.clicked{
    background-color: black !important;
    color: white !important;
    border: none !important;
}
.support__buttons > button{
    background-color: white;
    color: black;
    flex: 0.30;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    font-size: 15px;
    transition: filter 0.2;
    cursor: pointer;
}
.support__buttons > button:hover{
    filter: opacity(0.9);
}
.support__buttons > button > p{
    margin-left: 5px;
    white-space: nowrap;
}
@media screen and (max-width:991px) {
    .support__buttons{
        margin-top: 70px;
    }
}
@media screen and (max-width: 800px) {
    .support__buttons{
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
    }
    .support__buttons > button{
        margin-top: 15px;
    }
}
