.featuresCard{
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    padding: 0.625rem 0.8125rem;
    width: fit-content;
    border-radius: 0.5625rem;
    height: 290px;
}
.featuresCard > img{
    height: 5.3125rem;
    object-fit: contain;
    margin-bottom: 0.8125rem;
}
.featuresCard > p{
    width: 15rem;
    margin-top: 0.8125rem;
}