.featuresCard{
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    padding: 10px 13px;
    width: fit-content;
    border-radius: 9px;
}
.featuresCard > img{
    width: 100px;
    object-fit: contain;
    margin-bottom: 13px;
}
.featuresCard > p{
    width: 240px;
    margin-top: 13px;
}