.featuresCard{
    padding: 0.625rem 0.8125rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.featuresCard > img{
    height: 5.3125rem;
    object-fit: contain;
    margin-bottom: 0.8125rem;
}
.featuresCard > p{
    width: 15rem;
    margin-top: 0.8125rem;
    line-height: 1.5rem;
}