.customers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 220px;
}
.customers__sectionName > span{
    color: #0070C0;
    font-weight: 600;
    font-size: 1.2em;
}
.customers > h1{
    margin-top: 13px;
    font-size: 2.5em;
}
.customers__content{
    margin-top: 13px;
    width: 55%;
    line-height: 25px;

}
.customers > button{
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 600;
}

@media screen and (max-width:991px) {
    .customers{
        margin-top: 90px;
    }
}
@media screen and (max-width:770px) {
    .customers{
        margin-top: 160px;
    }
}

@media screen and (max-width: 510px) {
    .customers{
        align-items: flex-start;
    }
    .customers__content{
        width: 95%;
    }
    .customers > *{
        margin-left: 10px;
    }
}
@media screen and (max-width:380px) {
    .customers{
        margin-top: 75px;
    }
}