.customers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 120px;
}
.customers__sectionName > span{
    color: #0070C0;
    font-weight: 600;
    font-size: 1.2em;
}
.customers > h1{
    margin-top: 13px;
    font-size: 35px !important;
    text-align: center;
}
.customers__content{
    margin-top: 13px;
    width: 55%;
    line-height: 25px;

}
.customers > button{
    background-color: black;
    color: white;
    border: none;
    width: 220px;
    padding: 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 15px;
    transition: filter 0.2;
}
.customers > button:hover{
    filter: opacity(0.9);
}
@media screen and (max-width:991px) {
    .customers > h1{
        font-size: 30px !important;
    }
}
@media screen and (max-width:600px) {
    .customers{
        margin-top: 60px;
    }
    .customers__content{
        width: 98%;
        text-align: center;
    }
}
