.customers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 120px;
}
.customers__sectionName > span{
    color: #0070C0;
    font-weight: 600;
    font-size: 1.2em;
}
.customers > h1{
    margin-top: 13px;
    font-size: clamp(2.2em,3vw,1em);
    text-align: center;
}
.customers__content{
    margin-top: 13px;
    width: 55%;
    line-height: 25px;

}
.customers > button{
    background-color: black;
    color: white;
    padding: 16px 30px;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 15px;
}
.customers > button:hover{
    background-color: rgb(41, 36, 36);
}
@media screen and (max-width:600px) {
    .customers{
        margin-top: 60px;
    }
    .customers__content{
        width: 100%;
        text-align: center;
    }
}
