.customers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 7.5rem;
}
.customers__sectionName > span{
    color: #0070C0;
    font-weight: 600;
    font-size: 1.2em;
}
.customers > h1{
    margin-top: 0.8125rem;
    font-size: 2.1875rem !important;
    text-align: center;
}
.customers__content{
    margin-top: 0.8125rem;
    width: 55%;
    line-height: 1.5625rem;
    text-align: center;

}
.customers > button{
    background-color: black;
    color: white;
    border: none;
    width: 13.75rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.9375rem;
    font-weight: 500;
    margin-top: 0.9375rem;
    transition: transform 0.2s;
}
.customers > button:hover{
    filter: opacity(0.9);
    transform: scale(1.05);
}
@media screen and (max-width:991px) {
    .customers > h1{
        font-size: 1.875rem !important;
    }
}
@media screen and (max-width:600px) {
    .customers{
        margin-top: 3.75rem;
    }
    .customers__content{
        width: 98%;
        text-align: center;
    }
}
