.tools{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 6.25rem;
}
.tools__clients{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 3.125rem;
}
.tools > h1{
    font-size: 2.1875rem !important;
    text-align: center;
}
.tools__clients > img{
    width: 8rem;
    padding: 0.3rem;
    object-fit: contain;
}
@media screen and (max-width:940px) {
    .tools__clients{
        justify-content: center;
    }
}
@media screen and (max-width:991px) {
    .tools > h1{
        font-size: 1.875rem !important;
    }
}

@media screen and (max-width:880px) {
    .tools__clients{
        justify-content: center;
        width: 80%;
    }
    .tools__clients >img{
        margin-top: 2.5rem;
    }
}
