.faqs__body{
    margin-top: 1.875rem;
}
.faqs__body > h1{
    text-align: center;
}
.faqs__questionsTab{
    margin-top: 1.875rem;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}