.featuresBanner{
    background-color: white;
}
.featuresBanner__contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 47px;
    position: relative;
}
.featuresBanner__textContent{
    display: flex;
    flex-direction: column;
    z-index: 10;
    resize: both;
}
.featuresBanner__textContent > h1{
    font-size: 48px;
    position: relative;
    line-height: 68px;
}
.featuresBanner__textContent > h1 > img{
    position: absolute;
    bottom: 15px;
    left: 110px;
    width: 32px;
    object-fit: contain;
}
.featuresBanner__subCaption{
    width: 400px;
    line-height: 24px;
    margin-top: 15px;
}
.featuresBanner__textContent > button{
    margin-top: 15px;
    color: white;
    border: none;
    width: 220px;
    padding: 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    transition: transform 0.2s;
}
.featuresBanner__textContent > button:hover{
    filter: opacity(0.9);
    transform: scale(1.05);
}

.featuresBanner__image > img{
    width: 455px;
    object-fit: contain;
}

.featuresBanner__vector{
    position: absolute;
    top: -120px;
    right: 0;
}

@media screen and (max-width:1185px) {
    .featuresBanner__textContent > h1{
        font-size: 2.5em !important;
        line-height: 60px;
    }
    .featuresBanner__image > img{
        width: 430px;
    }
    .featuresBanner__textContent > h1 > img{
        bottom: 15px;
        left: 110px;
        width: 32px;
        object-fit: contain;
    }

}
@media screen and (max-width: 1102px) {
    .featuresBanner__textContent > h1{
        font-size: 2.3em !important;
    }
}
@media screen and (max-width: 1048px) {
    .featuresBanner__image > img{
        width: 400px;
    }
}
@media screen and (max-width: 991px) {
    .featuresBanner__contents{
        flex-direction: column-reverse;
    }
    .featuresBanner__subCaption{
        width: unset;
    }
    .featuresBanner__vector{
        display: none;
    }
    .featuresBanner__image > img{
        width: 100%;
    }
    .featuresBanner__textContent > h1 > br{
        display: none;
    }
    .featuresBanner__textContent > h1 > img{
        left: unset;
        padding-left: 10px;
    }
}
@media screen and (max-width: 510px) {
    .featuresBanner__textContent > h1{
        font-size: 2.1em !important;
        line-height: unset;
    }
    .featuresBanner__textContent > h1 > br{
        display: block;
    }
    .featuresBanner__textContent > h1 > img{
        bottom: 10px;
    }
}
@media screen and (min-width:1600px) {
    .featuresBanner__image > img{
        width: 600px;
    }
    .featuresBanner__textContent > h1{
        font-size: 60px;
    }
    .featuresBanner__textContent > h1 > img{
        left: 150px;
    }
    .featuresBanner__vector{
        width: 100%;
        top: -280px;
        right: 0px;
    }
}
