.featuresBanner{
    background-color: white;
}
.featuresBanner__contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.9375rem;
    position: relative;
}
.featuresBanner__textContent{
    display: flex;
    flex-direction: column;
    z-index: 10;
    resize: both;
}
.featuresBanner__textContent > h1{
    font-size: 3rem;
    position: relative;
    line-height: 4.25rem;
}
.featuresBanner__textContent > h1 > img{
    position: absolute;
    bottom: 0.9375rem;
    left: 6.875rem;
    width: 2rem;
    object-fit: contain;
}
.featuresBanner__subCaption{
    width: 25rem;
    line-height: 1.5rem;
    margin-top: 0.9375rem;
}
.featuresBanner__textContent > button{
    margin-top: 0.9375rem;
    color: white;
    border: none;
    width: 13.75rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.9375rem;
    font-weight: 500;
    transition: transform 0.2s;
}
.featuresBanner__textContent > button:hover{
    filter: opacity(0.9);
    transform: scale(1.05);
}

.featuresBanner__image > img{
    width: 28.4375rem;
    object-fit: contain;
}

.featuresBanner__vector{
    position: absolute;
    top: -7.5rem;
    right: 0;
}

@media screen and (max-width:1185px) {
    .featuresBanner__textContent > h1{
        font-size: 2.5em !important;
        line-height: 3.75rem;
    }
    .featuresBanner__image > img{
        width: 26.875rem;
    }
    .featuresBanner__textContent > h1 > img{
        bottom: 0.9375rem;
        left: 6.875rem;
        width: 2rem;
        object-fit: contain;
    }

}
@media screen and (max-width: 1102px) {
    .featuresBanner__textContent > h1{
        font-size: 2.3em !important;
    }
}
@media screen and (max-width: 1048px) {
    .featuresBanner__image > img{
        width: 25rem;
    }
}
@media screen and (max-width: 991px) {
    .featuresBanner__contents{
        flex-direction: column-reverse;
    }
    .featuresBanner__subCaption{
        width: unset;
    }
    .featuresBanner__vector{
        display: none;
    }
    .featuresBanner__image > img{
        width: 100%;
    }
    .featuresBanner__textContent > h1 > br{
        display: none;
    }
    .featuresBanner__textContent > h1 > img{
        left: unset;
        padding-left: 0.625rem;
    }
}
@media screen and (max-width: 510px) {
    .featuresBanner__textContent > h1{
        font-size: 2.1em !important;
        line-height: unset;
    }
    .featuresBanner__textContent > h1 > br{
        display: block;
    }
    .featuresBanner__textContent > h1 > img{
        bottom: 0.625rem;
    }
}
@media screen and (min-width:1600px) {
    .featuresBanner__image > img{
        width: 37.5rem;
    }
    .featuresBanner__textContent > h1{
        font-size: 3.75rem;
    }
    .featuresBanner__textContent > h1 > img{
        left: 9.375rem;
    }
    .featuresBanner__vector{
        width: 100%;
        top: -17.5rem;
        right: 0;
    }
}
