.dashboardSample__sectionName > span{
    color: #0070C0;
    font-weight: 600;
    font-size: 1.2em;
}
.dashboardSample__sectionName{
    text-align: center;
}
.dashboardSample > h1{
    margin-top: 13px;
    font-size: 35px !important;
    text-align: center;
}
.dashboardSample__body{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 80vw;
    padding: 50px 0px;
    margin-left: auto;
    margin-right: auto;
}
.dashboard__option{
    padding: 16px 20px;
    margin-top: 20px;
    cursor: pointer;
}
.dashboard__illustration{
    padding-top: 10px;
    z-index: 10;
}
.dashboard__illustration > img{
    width: 500px;
    object-fit: contain;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.dashboard__contents{
    background-color: #f4fbff;
    width: 100vw;
    position: relative;
}
.dashboard__fill{
    position: absolute;
    background-image: linear-gradient(to right, #bddff6,#c6e4f8,#cfe9fa,#d8eefd,#e1f3ff);
    width: 300px;
    height: 265px;
    right: 0;
    top: 216px;
    border-radius: 19px;
}
.activeOption{
    background-color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 10px;
}
@media screen and (max-width: 992px) {
    .dashboard__illustration > img{
        width: 360px;
        height: 400px;
    }
    .dashboard__fill{
        height: 150px;
        top: 240px;
    }
}
@media screen and (min-width: 1590px) {
    .dashboardSample__body{
        justify-content: center;
    }
    .dashboard__illustration > img{
        width: 730px;
    }
    .dashboard__fill{
        top: 370px;
        width: 500px;
    }
}
@media screen and (max-width: 850px) {
    .dashboard__fill{
        display: none;
    }
    .dashboardSample__body{
        flex-direction: column;
        align-items: center;
    }
    .dashboardSample > h1{
        font-size: 28px !important;
    }
    .dashboard__illustration > img{
        width: 100%;
        margin-top: 2vw;
    }
}
