.banner2{
    background-color: white;
}
.banner2__contents{
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: relative;
}
.banner2__textContent{
    display: flex;
    flex-direction: column;
    z-index: 10;
    resize: both;
}
.banner2__textContent > h1{
    font-size: 47px;
    position: relative;
    line-height: 68px;
}
.banner2__textContent > h1 > img{
    position: absolute;
    bottom: 6px;
}
.banner2__subCaption{
    width: 400px;
    line-height: 24px;
    margin-top: 15px;
}
.banner2__textContent > button{
    margin-top: 15px;
    color: white;
    border: none;
    width: 220px;
    padding: 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    transition: filter 0.2s;
}
.banner2__textContent > button:hover{
    filter: opacity(0.9);
}

.banner2__image > img{
    width: 560px;
    object-fit: contain;
}

.banner2__vector{
    position: absolute;
    top: -115px;
    right: 175px;
}

@media screen and (max-width:1396px) {
    .banner2__textContent > h1{
        font-size: 40px;
        line-height: 65px;
    }
}
@media screen and (max-width:1295px) {
    .banner2__image > img{
        width: 500px;
        padding-top: 20px;
    }
}

@media screen and (max-width:1185px) {
    .banner2__textContent > h1{
        font-size: 2.5em !important;
        line-height: 60px;
    }
    .banner2__image > img{
        width: 440px;
        padding-top: 30px
    }
}
@media screen and (max-width: 1102px) {
    .banner2__textContent > h1{
        font-size: 2.3em !important;
        line-height: 47px;
    }
}
@media screen and (max-width: 1048px) {
    .banner2__image > img{
        width: 410px;
    }
}
@media screen and (max-width: 991px) {
    .banner2__contents{
        flex-direction: column-reverse;
    }
    .banner2__subCaption{
        width: unset;
    }
    .banner2__vector{
        display: none;
    }
    .banner2__image > img{
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .banner2__textContent > h1{
        font-size: 2.1em !important;
        line-height: unset;
    }
}
@media screen and (min-width:1700px) {
    .banner2__vector{
        width: 100%;
        top: -220px;
    }
}
