.ox__cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.ox__cards > *{
    margin-right: 0.625rem;
    margin-top: 0.625rem;
}
.ox__features1{
    margin-top: 5.625rem;
}
@media screen and (min-width: 1300px) {
    .ox__cards  > *{
        margin-right: 1.125rem;
    }
}