.footer{
    background-color: #f6f6f6;
    margin-top: 4.6875rem;
    padding-top: 0.625rem;
    padding-bottom: 3.125rem;
    position: relative;
    width: 100vw;
}
.footer__container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 6.25rem;
    margin-top: 2.1875rem;
    margin-bottom: 5.75rem;
}
.footer__container > img{
    z-index: 10;
}
.footer__products{
    margin-top: 0.5rem;
    z-index: 10;
    margin-left: 4.375rem;
}
.footer__heading{
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: -0.3125rem;
}
.footer__headingUnderline{
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 0.3125rem;
}
.footer__logoContainer > p{
    font-size: 0.9rem;
    margin-left: 0.3125rem;
    color: gray;
}
.footer__logo{
    width: 9.375rem;
    object-fit: contain;
}
.footer__content{
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: black !important;
}
.footer__sphere{
    position: absolute;
    right: 0;
    top: 0.9375rem;
    width: 21.25rem;
    object-fit: contain;
}
.footer__copyright{
    font-weight: 600;
    font-size: 0.9em;
    position: absolute;
    bottom: 0.9375rem;
}
.footer__socialmedia{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 11.875rem;
    margin-top: 0.9375rem;
}
.footer__socialIcon{
    color: white;
    background-color: #c2c2c2;
    border-radius: 999px;
    text-align: center;
    padding: 0.3125rem 0.4375rem;
}
.footer__socialIconFacebook > img{
    width: 2.25rem;
    object-fit: contain;
}
.footer__dots{
    position: absolute;
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 50%;
    background-color: #828282;
}
.f_one{
    top: 40px;
    left: 130px;
}
.f_two{
    top: 140px;
    left: 50px;
}
.f_three{
    top: 230px;
    left: 130px;
}
.f_four{
    top: 190px;
    left: 230px;
}
.f_five{
    left: 250px;
    bottom: 100px;
}
.f_six{
    bottom: 10px;
    left: 20px;
}
.f_seven{
    bottom: 35px;
    left: 150px;
}

@media screen and (max-width:1300px) {
    .footer__container{
        padding-right: 0rem;
    }
    .footer__products{
        margin-left: 1.875rem;
    }
}
@media screen and (max-width:991px) {
    .footer__container{
        flex-direction: column;
    }
    .footer__logoContainer{
        margin-bottom: 0.625rem;
    }
}
@media screen and (max-width:600px) {
    .footer{
        margin-top: 5rem;
    }
}
@media screen and (min-width:1600px){
    .footer__container{
        justify-content: space-around;
    }
}