.footer{
    background-color: #f6f6f6;
    margin-top: 150px;
    padding: 20px;
    position: relative;
}
.footer__container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 100px;
    margin-top: 45px;
    margin-bottom: 140px;
}
.footer__container > img{
    z-index: 10;
}
.footer__products{
    margin-top: 20px;
    z-index: 10;
    margin-left: 90px;
}
.footer__heading{
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 12px;
}

.footer__content{
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 15px;
}
.footer__sphere{
    position: absolute;
    right: 0;
    top: 15px;
    width: 350px;
    object-fit: contain;
}
.footer__copyright{
    font-weight: 600;
    font-size: 0.9em;
    position: absolute;
    bottom: 15px;
}
.footer__socialmedia{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    margin-top: 20px;
}
.footer__socialIcon{
    color: white;
    background-color: #c2c2c2;
    border-radius: 999px;
    text-align: center;
    padding: 5px 7px;
}
.footer__socialIconFacebook > img{
    width: 36px;
    object-fit: contain;
}
/* @media screen and (max-width:1600px) {
    .footer__products{
        margin-left: 125px;
    }
}
@media screen and (max-width:1400px) {
    .footer__products{
        margin-left: 100px;
    }
}
@media screen and (max-width:1150px) {
    .footer__products{
        margin-left: 55px;
    }
} */
@media screen and (max-width:991px) {
    .footer__container{
        flex-direction: column;
    }
}
@media screen and (max-width:600px) {
    .footer{
        margin-top: 80px;
    }
}