.banner3{
    background-color: white;
}
.banner3__contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.banner3__textContent{
    display: flex;
    flex-direction: column;
    z-index: 10;
    resize: both;
}
.banner3__textContent > h1{
    font-size: 2.9375rem;
    position: relative;
    line-height: 4.25rem;
    width: 37.5rem;
}
.banner3__textContent > h1 > img{
    position: absolute;
    bottom: 0.375rem;
}
.banner3__subCaption{
    width: 25rem;
    line-height: 1.5rem;
    margin-top: 0.9375rem;
}
.banner3__textContent > button{
    margin-top: 0.9375rem;
    color: white;
    border: none;
    width: 13.75rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.9375rem;
    font-weight: 500;
    transition: transform 0.2s;
}
.banner3__textContent > button:hover{
    filter: opacity(0.9);
    transform: scale(1.05);
}

.banner3__image > img{
    width: 25.625rem;
    object-fit: contain;
}

.banner3__vector{
    position: absolute;
    top: -3.75rem;
    right: 3.125rem;
}

@media screen and (max-width:1396px) {
    .banner3__textContent > h1{
        font-size: 2.5rem;
        line-height: 4.0625rem;
    }
}
@media screen and (max-width:1295px) {
    .banner3__image > img{
        width: 22.8125rem;
        padding-top: 1.25rem;
    }
}

@media screen and (max-width:1185px) {
    .banner3__textContent > h1{
        font-size: 2.5em !important;
        line-height: 3.75rem;
        width: unset;
    }
}
@media screen and (max-width: 1102px) {
    .banner3__textContent > h1{
        font-size: 2.3em !important;
        line-height: 2.9375rem;
    }
}
@media screen and (max-width: 991px) {
    .banner3__contents{
        flex-direction: column-reverse;
    }
    .banner3__subCaption{
        width: unset;
    }
    .banner3__vector{
        display: none;
    }
    .banner3__image > img{
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .banner3__textContent > h1{
        font-size: 2.1em !important;
        line-height: unset;
    }
}
@media screen and (min-width:1600px) {
    .banner3__image > img{
        width: 29.6875rem;
    }
    .banner3__vector{
        width: 100%;
        top: -13.75rem;
    }
    .banner3__textContent > h1{
        width: fit-content;
    }
}
