.advertisement{
    background-color: #f6f6f6;
    padding: 1.25rem;
    margin-top: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.25rem;
}
.advertisement__description{
    text-align: center;
}
.advertisement__description > h1{
    font-size: 2.1875rem !important;
}
.advertisement__description > p{
    font-size: 1.1em ; 
    width: 27.5rem;
    margin-top: 0.9375rem;
}
.advertisement__description > button{
    color: white;
    border: none;
    width: 13.75rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.9375rem;
    font-weight: 500;
    margin-top: 2.1875rem;
    transition: transform 0.2s;
}
.advertisement__description > button:hover{
    filter: opacity(0.9);
    transform: scale(1.05);
}
.advertisement > img{
    width: 16.875rem;
    object-fit: contain;
}
@media screen and (max-width:1290px) {
    .advertisement__description > h1{
        font-size: 1.75rem !important;
    }
    .advertisement__description > p{
        font-size: 1em;
    }
    .advertisement__description > button{
        font-size: 1em;
    }
    .advertisement > img{
        width: 16.25rem;
        object-fit: contain;
    } 
}
@media screen and (max-width:1240px) {
    .advertisement > img{
        width: 10.625rem;
    }
}
@media screen and (max-width:1100px) {
    .advertisement > img{
        width: 9.375rem;
    }
}
@media screen and (max-width:991px) {
    .advertisement{
        flex-direction: column;
        justify-content: center;
    }
    .advertisement > img{
        width: 20rem;
    }
    .advertisement__description{
        margin-top: 0.9375rem;
        margin-bottom: 0.9375rem;
    }
    .advertisement__description > p{
        width: unset;
    }
}