.knowledge__body{
    margin-top: 1.875rem;
}
.knowledge__body > h1{
    text-align: center;
}
.knowledge__topics{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2.5rem;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.875rem;
}
@media screen and (max-width:740px) {
    .knowledge__topics{
        grid-template-columns: auto;
    }
}