.callDemo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}
.callDemo__description{
    position: relative;
}
.callDemo__description > h1{
    font-size: 35px !important;
}
.callDemo__description > p{
    margin-top: 23px;
    /* width: 380px; */
    font-size: 1.1em;
}
.callDemo__description > button{
    background-color: black;
    color: white;
    border: none;
    width: 220px;
    padding: 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 15px;
    transition: filter 0.2s;
}
.callDemo__description > button:hover{
    filter: opacity(0.9);
}
.callDemo__thickLine{
    height: 45px;
    width: 15px;
    background-color: black;
    position: absolute;
    top: 0;
    left: -35px;
}

.callDemo__description > img{
    position: absolute;
    bottom: 10px;
    right: 40px;
    z-index: -1;
}
.callDemo__image > img{
    width: 360px;
    object-fit: contain;
}

@media screen and (min-width:1600px) {
    .callDemo__image > img{
        width: 500px;
        margin-right: 50px;
    }
    .callDemo__description > h1{
        font-size: 30px !important;
    }
    .callDemo__description > p{
        width: unset;
    }
}
@media screen and (max-width:1190px) {
    .callDemo__image >img{
        width: 340px;
    }
    .callDemo__thickLine{
        display: none;
    }
}
 @media screen and (max-width:991px) {
     .callDemo__image > img{
         width: 320px;
         margin-right: 20px;
     }
     .callDemo__description > h1{
         font-size: 25px !important;
     }
     .callDemo__description > p{
         font-size: 0.9em;
         width: fit-content;
     }
     .callDemo__description > button{
         font-size: 0.9em;
     }
 }
 @media screen and (max-width:1228px) {
    .callDemo__description > img{
        right: 0;
        bottom: -27px;
    }
 }
 @media screen and (max-width:943px) {
     .callDemo__description > img{
         bottom: -40px;
     }
 }
 @media screen and (max-width:830px) {
     .callDemo{
         flex-direction: column;
         align-items: center;
     }
     .callDemo__description{
         text-align: center;
         margin-top: 20px;
     }
     .callDemo__description > p{
         width: 85vw;
     } 
     .callDemo__thickLine{
         display: none;
     }
     .callDemo__image > img{
         margin-right: 0px !important;
     }
 }
 @media screen and (max-width:500px) {
    .callDemo__image > img{
        width: 90vw;
        object-fit: contain;
    } 
 }
 @media screen and (max-width:416px) {
     .callDemo__description > img{
         display: none;
     }
 }

 @media screen and (min-width: 1700px) {
     .callDemo__image > img{
         width: 705px;
     }
     .callDemo__description > h1{
         font-size: 49px !important;
     }
 }