.callDemo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.75rem;
}
.callDemo__description{
    position: relative;
    margin-left: 1.25rem;
}
.callDemo__description > h1{
    font-size: 2.1875rem !important;
}
.callDemo__description > p{
    margin-top: 1.5rem;
    /* width: 380px; */
    font-size: 1.1em;
}
.callDemo__description > button{
    background-color: black;
    color: white;
    border: none;
    width: 13.75rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.9375rem;
    font-weight: 500;
    margin-top: 0.9375rem;
    transition: transform 0.2s;
}
.callDemo__description > button:hover{
    filter: opacity(0.9);
    transform: scale(1.05);
}
.callDemo__thickLine{
    height: 2.8125rem;
    width: 0.9375rem;
    background-color: black;
    position: absolute;
    top: 0;
    left: -2.175rem;
}

.callDemo__description > img{
    position: absolute;
    bottom: 0.625rem;
    right: 1.5rem;
    z-index: -1;
}
.callDemo__image > img{
    height: 18.125rem;
    object-fit: contain;
    max-width: 22.5rem;
}


@media screen and (max-width:1190px) {
    .callDemo__thickLine{
        display: none;
    }
}
 @media screen and (max-width:991px) {
    
     .callDemo__description > h1{
         font-size: 1.5625rem !important;
     }
     .callDemo__description > p{
         font-size: 0.9em;
         width: fit-content;
     }
     .callDemo__description > button{
         font-size: 0.9em;
     }
 }
 @media screen and (max-width:1228px) {
    .callDemo__description > img{
        right: 0;
        bottom: -1.6875rem;
    }
 }
 @media screen and (max-width:943px) {
     .callDemo__description > img{
         bottom: -1.5rem;
     }
 }
 @media screen and (max-width:830px) {
     .callDemo{
         flex-direction: column;
         align-items: center;
     }
     .callDemo__description{
         text-align: center;
         margin-top: 1.25rem;
     }
     .callDemo__description > p{
         width: 85vw;
     } 
     .callDemo__thickLine{
         display: none;
     }
     .callDemo__image > img{
         margin-right: 0rem !important;
     }
 }
 @media screen and (max-width:500px) {
    .callDemo__image > img{
        width: 90vw;
        object-fit: contain;
    } 
 }
 @media screen and (max-width:416px) {
     .callDemo__description > img{
         display: none;
     }
 }

 @media screen and (min-width:1600px) {
    .callDemo__image > img{
        width: 500px;
        margin-right: 50px;
    }
    .callDemo__description > h1{
        font-size: 30px !important;
    }
    .callDemo__description > p{
        width: unset;
    }
}