.callDemo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}
.callDemo__description{
    position: relative;
}
.callDemo__description > h1{
    font-size: 2.2em;
}
.callDemo__description > p{
    margin-top: 23px;
    width: 380px;
    font-size: 1.1em;
}
.callDemo__description > button{
    background-color: black;
    color: white;
    padding: 16px 30px;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 15px;
}
.callDemo__description > button:hover{
    background-color: rgb(41, 36, 36);
}
.callDemo__thickLine{
    height: 45px;
    width: 15px;
    background-color: black;
    position: absolute;
    top: 0;
    left: -35px;
}

.callDemo__description > img{
    position: absolute;
    bottom: 10px;
    right: 40px;
    z-index: -1;
}
.callDemo__image > img{
    width: 600px;
    object-fit: contain;
}

@media screen and (max-width:1535px) {
    .callDemo__image > img{
        width: 500px;
    }
    .callDemo__description{
        margin-left: 20px;
    }
    .callDemo__description > h1{
        font-size: 2em;
    }
    .callDemo__description > p{
        width: unset;
    }
}
@media screen and (max-width:1190px) {
    .callDemo__image >img{
        width: 400px;
    }
    .callDemo__thickLine{
        display: none;
    }
}
 @media screen and (max-width:991px) {
     .callDemo__image > img{
         width: 350px;
     }
     .callDemo__description > h1{
         font-size: 1.6em;
     }
     .callDemo__description > p{
         font-size: 0.9em;
         width: fit-content;
     }
     .callDemo__description > button{
         font-size: 0.9em;
     }
 }
 @media screen and (max-width:1228px) {
    .callDemo__description > img{
        right: 0;
        bottom: -27px;
    }
 }
 @media screen and (max-width:943px) {
     .callDemo__description > img{
         bottom: -40px;
     }
 }
 @media screen and (max-width:830px) {
     .callDemo{
         flex-direction: column;
         align-items: center;
     }
     .callDemo__description{
         text-align: center;
         margin-top: 20px;
     }
     .callDemo__description > p{
         width: 85vw;
     } 
     .callDemo__thickLine{
         display: none;
     }
 }
 @media screen and (max-width:500px) {
    .callDemo__image > img{
        width: 95vw;
        object-fit: contain;
    } 
 }
 @media screen and (max-width:416px) {
     .callDemo__description > img{
         display: none;
     }
 }