.supportBanner{
    background-color: white;
}
.supportBanner__contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.125rem;
    position: relative;
}
.supportBanner__textContent{
    display: flex;
    flex-direction: column;
    z-index: 10;
    resize: both;
}
.supportBanner__textContent > h1{
    font-size: 2.75rem;
    position: relative;
    line-height: 4.25rem;
}
.supportBanner__textContent > h1 > img{
    position: absolute;
    bottom: 0.375rem;
}
.supportBanner__subCaption{
    width: 25rem;;
    line-height: 1.5rem;
    margin-top: 0.9375rem;
}
.supportBanner__textContent > button{
    margin-top: 0.9375rem;
    color: white;
    border: none;
    width: 13.75rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.9375rem;
    font-weight: 500;
    transition: transform 0.2s;
}
.supportBanner__textContent > button:hover{
    filter: opacity(0.9);
    transform: scale(1.05);
}

.supportBanner__image > img{
    width: 27.5rem;
    object-fit: contain;
}

.supportBanner__vector{
    position: absolute;
    top: -14.375rem;
    right: 0;
}

@media screen and (max-width:1396px) {
    .supportBanner__textContent > h1{
        font-size: 2.5rem;
        line-height: 4.0625rem;
    }
}
@media screen and (max-width:1185px) {
    .supportBanner__textContent > h1{
        font-size: 2.5em !important;
        line-height: 3.75rem;
    }
}
@media screen and (max-width: 1102px) {
    .supportBanner__textContent > h1{
        font-size: 2.3em !important;
        line-height: 2.9375rem;
    }
}
@media screen and (max-width: 991px) {
    .supportBanner__contents{
        flex-direction: column-reverse;
    }
    .supportBanner__subCaption{
        width: unset;
    }
    .supportBanner__vector{
        display: none;
    }
    .supportBanner__image > img{
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .supportBanner__textContent > h1{
        font-size: 2.1em !important;
        line-height: unset;
    }
}

