.statComponent{
    display: flex;
    flex-direction: column;
    position: relative;
}
.statComponent > p{
    font-size: 1.3em;
    font-weight: 600;
}
.statComponent > h1{
    font-size: 3.2em;
}
.statComponent > h1 > span{
    font-weight: 400;
    font-size: 0.7em;
}
.statsComponent__cloud{
    position: absolute;
    left: -20px;
    top: 0;
}

@media screen and (max-width:1100px){
    .statComponent{
        padding-left: 20px;
    }
    .statComponent > h1{
        font-size: 2.5em;
    }
    .statComponent > p{
        font-size: 1em;
    }
}
@media screen and (max-width: 770px) {
    .statComponent{
        align-items: flex-start;
    }
}