.statComponent{
    display: flex;
    flex-direction: column;
    position: relative;
}
.statComponent > p{
    font-size: 1.3em;
    font-weight: 600;
}
.statComponent > h1{
    font-size: 3.2em;
    position: relative;

}
.statComponent > h1 > span{
    font-weight: 400;
    font-size: 0.7em;
}
.statsComponent__cloud{
    position: absolute;
    left: -20px;
    top: -10px;
}