.breadCrumbs{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.breadCrumbs > p{
    color: gray;
    margin-left: 10px;
    margin-right: 10px;
}
.breadCrumbs > p:last-of-type{
    color: black;
}