.breadCrumbs{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-left: 30px;
}
.breadCrumbs > p{
    color: gray;
    margin-left: 10px;
    margin-right: 10px;
}
.breadCrumbs > p:last-of-type{
    color: black;
}
.breadCrumbs > span:last-of-type{
    display: none;
}