.breadCrumbs{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 1.25rem;
    margin-left: 1.875rem;
}
.breadCrumbs > p{
    color: gray;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}
.breadCrumbs > p:last-of-type{
    color: black;
}
.breadCrumbs > span:last-of-type{
    display: none;
}