.trustedClients{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 6.25rem;
}
.trustedClients__clients{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 3.125rem;
}
.trustedClients > h1{
    font-size: 2.1875rem !important;
    text-align: center;
}
.trustedClients__clients > img{
    width: 7.5rem;
    object-fit: contain;
}
@media screen and (max-width:991px) {
    .trustedClients > h1{
        font-size: 1.875rem !important;
    }
}

@media screen and (max-width:880px) {
    .trustedClients__clients{
        flex-direction: column;
        width: 70%;
    }
    .trustedClients__clients >img{
        width: 50%;
        margin-top: 2.5rem;
    }
}
