.trustedClients{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.trustedClients__clients{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    flex-wrap: wrap;
}
.trustedClients__clients > img{
    width: 130px;
    object-fit: contain;
}

@media screen and (max-width:768px) {
   .trustedClients__clients > *{
        flex: 1 0 40%;
   } 
}