.trustedClients{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.trustedClients__clients{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}
.trustedClients > h1{
    font-size: 35px !important;
    text-align: center;
}
.trustedClients__clients > img{
    width: 120px;
    object-fit: contain;
}
@media screen and (max-width:991px) {
    .trustedClients > h1{
        font-size: 30px !important;
    }
}

@media screen and (max-width:880px) {
    .trustedClients__clients{
        flex-direction: column;
        width: 70%;
    }
    .trustedClients__clients >img{
        width: 50%;
        margin-top: 40px;
    }
}
