.stats{
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 160px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.25);
    -webkit-box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.25);
}
.stats__statComponent{
    border-right: 1px solid black;
    padding-right: 100px;
}
.stats__statComponent:last-of-type{
    border-right: none;
}
@media screen and (max-width:1100px) {
    .stats__statComponent{
        padding-right: 50px;
    }
}
@media screen and (max-width:870px) {
    .stats__statComponent{
        padding-right: 25px;
    }
}

@media screen and (max-width: 770px) {
    .stats{
        flex-direction: column;
        padding: 30px;
        margin-top: 70px;
    }   
    .stats > *{
        margin-top: 30px;
        padding-right: 0px !important;
    }
    .stats__statComponent{
        border-right: none;
        padding-right: 0px !important;
        text-align: center;
    }
}

