.stats{
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.25);
    -webkit-box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.25);
}
.stats__heading{
    font-size: 35px !important;
    text-align: center;
}
.stats__statComponent{
    border-right: 1px solid black;
    padding-right: 100px;
    margin-left: 60px;
}
.stats__statComponent:last-of-type{
    border-right: none;
}
@media screen and (max-width:1100px) {
    .stats__statComponent{
        padding-right: 50px;
        margin-left: 20px;
        
    }
}
@media screen and (max-width:991px) {
    .stats__heading{
        font-size: 30px !important;
    }
}
@media screen and (max-width:870px) {
    .stats__statComponent{
        padding-right: 25px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 770px) {
    .stats{
        flex-direction: column;
        padding: 30px;
        margin-top: 20px;

    }   
    .stats > *{
        margin-top: 30px;
    }
    .stats__statComponent{
        border-right: none;
        padding-right: 0px !important;
        text-align: center;
        margin-left: 0px;
    }
}

/*-----statcomponent-----*/
.statComponent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.statComponent > p{
    font-size: 1.1em;
    font-weight: 600;
}
.statcomponent__number > h1{
    font-size: 3em;
}
.statcomponent__number > span{
    font-weight: 400;
    font-size: 1.7em;
}
.statsComponent__cloud{
    position: absolute;
    left: -20px;
    top: 0;
}
.statcomponent__number{
    display: flex;
    align-items: baseline;
    position: relative;
}

@media screen and (max-width:1100px){
    .statComponent{
        padding-left: 20px;
    }
    .statComponent > h1{
        font-size: 2.5em;
    }
    .statComponent > p{
        font-size: 1em;
    }
}
