.stats{
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.56rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    width: 100vw;
    border-radius: 0.375rem;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.statComponent > p{
    text-align: center;
}
.stats__heading{
    font-size: 2.1875rem !important;
    text-align: center;
}
.stats__statComponent{
    border-right: 1px solid black;
    padding-right: 6.25rem;
    margin-left: 1.75rem;
    height: 134px;
}
.stats__statComponent:last-of-type{
    border-right: none;
}
@media screen and (max-width:1100px) {
    .stats__statComponent{
        padding-right: 3.125rem;
        margin-left: 1.25rem;
        
    }
}
@media screen and (max-width:991px) {
    .stats__heading{
        font-size: 1.875rem !important;
    }
}
@media screen and (max-width:870px) {
    .stats__statComponent{
        padding-right: 1.56rem;
        margin-left: 0.675rem;
    }
}

@media screen and (max-width: 770px) {
    .stats{
        flex-direction: column;
        padding: 1.875rem;
        margin-top: 1.25rem;

    }   
    .stats > *{
        margin-top: 1.875rem;
    }
    .stats__statComponent{
        border-right: none;
        padding-right: 0rem !important;
        text-align: center;
        margin-left: 0rem;
    }
}

/*-----statcomponent-----*/
.statComponent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.statComponent > p{
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    width: 125%;
    margin-top: 4px;
    line-height: 24px;
}
.statcomponent__number > h1{
    font-size: 3em;
}
.statcomponent__number > span{
    font-weight: 400;
    font-size: 1.7em;
}
.statsComponent__cloud{
    position: absolute;
    left: -1.25rem;
    top: 0;
}
.statcomponent__number{
    display: flex;
    align-items: baseline;
    position: relative;
}

@media screen and (max-width:1307px) {
    .statComponent > p {
        font-size: 0.85rem;
        font-weight: 600;
        text-align: center;
        width: 150%;
        margin-top: 4px;
        line-height: 24px;
    }
}

@media screen and (max-width:1100px){
    .statComponent{
        padding-left: 1.25rem;
    }
    .statComponent > h1{
        font-size: 2.5em;
    }
    .statComponent > p{
        font-size: 1em;
    }
}
