body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'sans-serif',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Playfair Display';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p{
  font-family: sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: white;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 80%;
  margin: 0 auto;
  max-width: 1300px;
}
.container-sm{
  width: 72%;
  margin: 0 auto;
  max-width: 1160px;
}
@media screen and (max-width:991px) {
  .container{
    width: 82%;
  }
  .container-sm{
    width: 82%
  }
}
@media screen and (max-width:768px) {
  .container{
    width: 90%;
  }
  .container-sm{
    width: 90%
  }
}
@media screen and (max-width:500px) {
  .container{
    width: 95%;
  }
  .container-sm{
    width: 95%
  }
}
@media screen and (min-width:1600px) {
  .container{
    position: relative;
  }
}