.featuresElementRev{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.cloud{
    position: absolute;
    z-index: -1;
    width: 37.5rem;
    object-fit: contain;
}
.featuresElementRev > img{
    height: 18.75rem;
    max-width: 24.6875rem;
    object-fit: contain;
    z-index: 10;
    margin-right: 1.25rem;
}
.featuresElementRev__content > h1{
    font-size: 2.875rem !important;
    width: 23.75rem;
    margin-bottom: 1.25rem;
    position: relative;
}
.featuresElementRev__content > h1 > img{
    position: absolute;
    width: 2.1875rem;
    object-fit: contain;
    bottom: 0.625rem;
    padding-left: 0.625rem;
}
.featuresElementRev__subCaption{
    width: 23.125rem;
    margin-bottom: 0.9375rem;
}
.featuresElementRev__content > button{
    margin-top: 0.9375rem;
    color: white;
    background-color: black;
    border: none;
    width: 13.75rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.9375rem;
    font-weight: 500;
    transition: filter 0.2s;
}
.featuresElementRev__content > button:hover{
    filter: opacity(0.9);
}
@media screen and (max-width:991px) {
    .featuresElementRev{
        flex-direction: column-reverse;
        align-items: unset;
        justify-content: unset;
    }
    .featuresElementRev > img {
        max-width: 80vw;
        margin-right: unset;
        margin-top: 1.25rem;
    }
    .featuresElementRev__content > h1{
        width: unset;
    }
    .featuresElementRev__subCaption{
        width: unset;
    }
}
@media screen and (min-width:1600px) {
    .featuresElementRev > img{
        max-width: unset;
        width: 550px;
        height: unset;
    }
    .featuresElementRev__content > h1{
        width: 600px;
        font-size: 55px;
    }
}