.banner{
    background-color: white;
}
.scrollToServices > a{
    color: #0070c0 !important;
    cursor: pointer;
}
.banner__contents{
    display: flex;
    align-items: center;
    margin-top: 3.125rem;
    position: relative;
}
.banner__textContent{
    display: flex;
    flex-direction: column;
    z-index: 10;
    resize: both;
}
.banner__textContent > h1{
    font-size: 2.9375rem;
    position: relative;
    line-height: 2.7rem;
}
.banner__textContent > h1 > img{
    position: absolute;
    bottom: 0.375rem;
}
.banner__subCaption{
    width: 25rem;
    line-height: 1.5rem;
    margin-top: 0.9375rem;
}
.banner__textContent > button{
    margin-top: 0.9375rem;
    color: white;
    border: none;
    width: 13.75rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.9375rem;
    font-weight: 500;
    transition: transform 0.2s;
}
.banner__textContent > button:hover{
    filter: opacity(0.9);
    transform: scale(1.05);
}

.banner__image > img{
    width: 36.25rem;
    object-fit: contain;
}

.banner__vector{
    position: absolute;
    top: -15.3125rem;
    right: 11.5625rem;
}

@media screen and (max-width:1396px) {
    .banner__textContent > h1{
        font-size: 2.5rem;
    }
}
@media screen and (max-width:1295px) {
    .banner__image > img{
        width: 31.25rem;
        padding-top: 1.25rem;
    }
}

@media screen and (max-width:1185px) {
    .banner__textContent > h1{
        font-size: 2.5em !important;
        line-height: 2.7rem;
    }
    .banner__image > img{
        width: 27.5rem;
        padding-top: 1.875rem;
    }
}
@media screen and (max-width: 1102px) {
    .banner__textContent > h1{
        font-size: 2.3em !important;
        line-height: 2.7rem;
    }
}
@media screen and (max-width: 1048px) {
    .banner__image > img{
        width: 25.625rem;
    }
}
@media screen and (max-width: 991px) {
    .banner__contents{
        flex-direction: column-reverse;
    }
    .banner__subCaption{
        width: unset;
    }
    .banner__vector{
        display: none;
    }
    .banner__image > img{
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .banner__textContent > h1{
        font-size: 2.1em !important;
        line-height: unset;
    }
    .banner__textContent > h1 > img {
        position: unset;
    }
}
