.banner{
    background-color: white;
    padding: 12px;
}
.banner__contents{
    display: flex;
    margin-top: 140px;
}
.banner__textContent{
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    resize: both;
}
.banner__textContent > h1{
    font-size: 3em;
    position: relative;
    line-height: 68px;
    width: 110%;
    margin-top: 15px;
}
.banner__textContent > h1 > img{
    position: absolute;
    bottom: 6px;
}
.banner__subCaption{
    width: 400px;
    line-height: 24px;
    margin-top: 15px;
}
.banner__textContent > button{
    margin-top: 15px;
    background-color: black;
    color: white;
    border: none;
    width: 220px;
    padding: 15px;
    border-radius: 4px;
}
.banner__image > img{
    width: 750px;
    object-fit: contain;
    position: absolute;
    top: 130px;
    right: 160px;
}

@media screen and (max-width:1100px) {
    .banner__image > img{
        width: 650px;
        /* height: 100%; */
        object-fit: contain;
        right: 50px;
    }
    .banner__textContents{
        flex: 1;
    }
    .banner__textContent > h1{
        font-size: 2em !important;
        line-height: 50px;
        width: 100%;
    }
}
@media screen and (max-width:758px) {
    .banner__image > img{
        height: 500px;
        object-fit: cover;
        right: 0;
        object-position: center;
    }
    .banner__subCaption{
        width: unset;
    }
    .banner__textContent{
        flex: 1;
    }
    .banner__textContent > h1{
        line-height: 40px;
    }
}