.banner{
    background-color: white;
    padding: 12px;
}
.banner__contents{
    display: flex;
    margin-top: 140px;
    position: relative;
}
.banner__textContent{
    width: 50%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    resize: both;
}
.banner__textContent > h1{
    font-size: 2.9em;
    position: relative;
    line-height: 68px;
    width: 110%;
}
.banner__textContent > h1 > img{
    position: absolute;
    bottom: 6px;
}
.banner__subCaption{
    width: 400px;
    line-height: 24px;
    margin-top: 15px;
}
.banner__textContent > button{
    margin-top: 15px;
    color: white;
    border: none;
    width: 220px;
    padding: 15px;
    border-radius: 4px;
}
.banner__image > img{
    width: 670px;
    object-fit: contain;
    position: absolute;
    top: -40px;
    right: 0;
}
@media screen and (max-width:1550px) {
    .banner__image > img{
        width: 680px;
        right: 0px;
    }
}

@media screen and (max-width:1100px) {
    .banner__image > img{
        width: 650px;
        object-fit: contain;
    }
    .banner__textContents{
        flex: 1;
    }
    .banner__textContent > h1{
        font-size: 2em !important;
        line-height: 50px;
        width: 100%;
    }
}
@media screen and (max-width:758px) {
    .banner__image > img{
        width: 100vw;
        object-fit: contain;
        right: 0;
        top: 0px;
        object-position: center;
    }
    .banner__subCaption{
        width: unset;
    }
    .banner__textContent{
        flex: 1;
    }
    .banner__textContent > h1{
        line-height: 40px;
    }
    .banner__contents{
        margin-top: 40px;
    }
}
@media screen and (max-width:500px) {
    .banner__image > img{
        height: 100vh;
        object-fit: contain;
    }
    .banner__contents{
        margin-top: 15px;
    }
}