.banner{
    background-color: white;
}
.banner__contents{
    display: flex;
    align-items: center;
    margin-top: 50px;
    position: relative;
}
.banner__textContent{
    display: flex;
    flex-direction: column;
    z-index: 10;
    resize: both;
}
.banner__textContent > h1{
    font-size: 45px;
    position: relative;
    line-height: 68px;
}
.banner__textContent > h1 > img{
    position: absolute;
    bottom: 6px;
}
.banner__subCaption{
    width: 400px;
    line-height: 24px;
    margin-top: 15px;
}
.banner__textContent > button{
    margin-top: 15px;
    color: white;
    border: none;
    width: 220px;
    padding: 15px;
    border-radius: 4px;
}
.banner__image > img{
    width: 630px;
    object-fit: contain;
}
@media screen and (max-width:1272px) {
    .banner__image > img{
        width: 500px;
    }
}

@media screen and (max-width:1185px) {
    .banner__textContent > h1{
        font-size: 1.8em;
        line-height: 50px;
    }
    .banner__image > img{
        width: 90%;
    }
}
@media screen and (max-width: 991px) {
    .banner__contents{
        flex-direction: column;
    }
    .banner__subCaption{
        width: unset;
    }
}
