.banner{
    background-color: white;
}
.banner__contents{
    display: flex;
    align-items: center;
    margin-top: 50px;
    position: relative;
}
.banner__textContent{
    display: flex;
    flex-direction: column;
    z-index: 10;
    resize: both;
}
.banner__textContent > h1{
    font-size: 47px;
    position: relative;
    line-height: 68px;
}
.banner__textContent > h1 > img{
    position: absolute;
    bottom: 6px;
}
.banner__subCaption{
    width: 400px;
    line-height: 24px;
    margin-top: 15px;
}
.banner__textContent > button{
    margin-top: 15px;
    color: white;
    border: none;
    width: 220px;
    padding: 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
}

.banner__image > img{
    width: 610px;
    object-fit: contain;
}

.banner__vector{
    position: absolute;
    top: -115px;
    right: 175px;
}

@media screen and (max-width:1396px) {
    .banner__textContent > h1{
        font-size: 40px;
        line-height: 65px;
    }
}
@media screen and (max-width:1295px) {
    .banner__image > img{
        width: 500px;
    }
}

@media screen and (max-width:1185px) {
    .banner__textContent > h1{
        font-size: 2.5em;
        line-height: 60px;
    }
    .banner__image > img{
        width: 440px;
    }
}
@media screen and (max-width: 1102px) {
    .banner__textContent > h1{
        font-size: 2.3em;
        line-height: 47px;
    }
}
@media screen and (max-width: 1048px) {
    .banner__image > img{
        width: 400px;
    }
}
@media screen and (max-width: 991px) {
    .banner__contents{
        flex-direction: column;
    }
    .banner__subCaption{
        width: unset;
    }
    .banner__vector{
        display: none;
    }
    .banner__image > img{
        width: 100%;
    }
}
